$bgPage: #f7f9fb;
$textColor: #0b1610;
$lightTextColor: #a7b899;
$listItemBorderColor: #edf0f3;
$primary: #22412f;
$secondary: #9fb248;
$popColor: #ec5f49;
$hoverBtn: #e5ab4a;
$borderLine: #29543a;

$mediumScreen: "852px";
$mediumHeaderScreen: "1055px";
$smallHeaderScreen: "922px";
$mobileHeaderScreen: "728px";
